.HomeHeader{
    margin-top: 50px;
    text-align: center;
    line-height:1.5;
}

.HomeHeader h2{
    font-size:2rem;
    color: rgb(21, 150, 206);
}
.HomeHeader h1{
    color: #0f52ba;
    font-size:3rem;
}

.HomeHeader h1 span{
    color: Gray;
}

.HomeHeader p{
    color:grey;
    font-weight: 500;
}

@media(max-width: 475px){
    .HomeHeader h1{
        font-size:1.4rem
    }
    .HomeHeader h2{
        font-size:1.4rem;
        color: rgb(21, 150, 206);
    }
    .HomeHeader p{
       font-size:0.6rem;
    }
    
}