*{
    margin: 0 auto;
}


.wrapper{
    height: 250px;
    width: 250px;
    margin-top: 15%;
    background-color: #87A2FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 4px 4px 10px grey;
}

.wrapper form input{
    border: none;
    outline: none;
    border-radius:10px;
    height: 2rem;
    padding-left: 10px;
    margin-bottom: 20px;
}

.submit-btn{
    border: none;
    height: 2rem;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #ADDDD0;
}
.submit-btn:hover{
    background-color: #EEEEEE;
}

.wrapper h2{
    color: white;
}